* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  background:url(1.jpg);
  background-size: cover;
  color: white;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
   
}

.logo {
  font-size: 40px;
  color: orange;
  margin-left:150px;
}
nav{
    font-size: 25px;
}


nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
 
}
nav a:hover{
    color:orange;
}

.search-bar {
  display: flex;
  
}

.search-bar input {
  padding: 5px;
}

.search-bar button {
  padding: 5px 10px;
  background: orange;
  border: none;
  color: white;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.content h1 {
  font-size: 50px;
  margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
 
}

.content p{
     font-family:'Times New Roman', Times, serif;


}

.content span {
  color: orange;
  font-size: 80px;
  letter-spacing: 2px;
  font-family:'Times New Roman', Times, serif;
}
.content h2{
    font-size: 50px;
    letter-spacing: 2px;
  font-family:'Times New Roman', Times, serif
}
.content button {
  margin-top: 20px;
  padding: 15px 25px;
  background: orange;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  
}

.login-form {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  
 
}

.login-form input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 250px;
}
.login-form .remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.login-form .signin {
  width: 100%;
  padding: 10px;
  background: orange;
  border: none;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.login-form .social button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: ;
}
